<div class="card-footer text-muted">
    {{ comment.comment }}
    <div class="right author">{{ comment.author.email }}</div>
</div>
<div class="card-text">
    {% for i in 0..(comment.rate-1)  %}
        ⭐
    {% endfor %}
</div>
<div>
    {% if is_granted('ROLE_ADMIN') or app.user == comment.author %}
        {% include 'comment/_delete.html.twig' %}
        {#                    <a href="{{ path('app_comment_delete', { id: comment.id }) }}" class="btn btn-primary">Delete comment</a>#}
    {% endif %}
</div>