@import "~bootstrap/scss/bootstrap";



$primary: darken(#428bca, 20%);
$nav-bg: #9EED60;
$dropdown-bg-color: #D3F11B;
$background-color : #EEFFBC;
$nav-text: #003C73;



:root{
    --bs-light-rgb: 158,237,96;
    --bs-emphasis-color-rgb: 0,60,115;
}
body {
    background-color: $background-color;
}
.navbar-brand{
    --bs-navbar-brand-color: #003C73;
}
.navbar-collapse{
    flex-grow: initial;
}


