<div class="links">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('program_index') }}">
                Liste des programmes
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('category_index') }}">
                Liste des catégories
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_index') }}">
                Accueil
            </a>
        </li>
    </ul>
</div>