{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="index-title">
        <h1>Bienvenue</h1>
{#    <img src="{{ asset('build/images/img1.png') }}" alt=""/>#}
        <p>Le site qu'il est bien pour savoir où qu'elle en est ta dernière série !</p>
        <ul><h2>Ajouter...</h2>
            <li><a href="{{ path('program_app_program_new') }}">une série</a></li>
        </ul>
    </div>
{% endblock %}